
body{
	background-color: var(--white);
	background: url("https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	place-items: center;
}
.login-clean {
  padding:100px 0;
}

.login-clean form {
  max-width:400px;
  width:90%;
  margin:0 auto;
  background-color:#ffffff;
  padding:40px;
  border-radius:20px;
  color:#505e6c;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}


.login-clean .illustration {
  text-align:center;
  padding:0 0 20px;
  font-size:100px;
  color:#5891ff;
}

.login-clean form .form-control {
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-radius: 30px;
    text-indent:8px;
    height:42px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.login-clean form .btn-primary {
  background-color: #5891ff;
  border:none;
  border-radius:20px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none !important;
}

.login-clean form .btn-primary:hover{
  background:#5863ff;
}

.login-clean form .btn-primary:active {
  transform:translateY(1px);
}

.login-clean form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity:1;
  text-decoration:none;
}
